*{
    margin: 0;
    padding: 0;
}

.bcg-blue{
    background-color: #4654A3;
}
.txt-white{
    color: #e6e9f5;
}
body{
    display:flex;
    flex-direction: row;
    font-size: 24px;
}
aside{
    width:40vw;
}

.alert {
    width: 50rem;
}

#main-container-home{
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
}
.margin-centered{
    width: 80%;
    margin: 5vh auto;
}

nav
{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

header > a, footer > a {
    color: #e6e9f5;
    text-decoration: none;
}
header > * {
    align-self: start;
    margin-right: 1rem;
    padding:1rem;
}
header > a:last-child{
    margin-right: 0;
}
header {
    background: #4654A3;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

footer {
    font-size: 16px;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
}

footer > a {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.btn-primary {
    background: #4654A3;
    border: none;
}

.btn-primary:hover {
    background: #270949;
}


.hover-white:hover {
    background: #e6e9f5;
    color: #270949;
}

.btn-dark-blue {
    color: #e6e9f5;
    background: #270949;
}

.btn-danger {
    background: #f95b3d;
    border: none;
}

.btn-backTo {
    background: #e6e9f5;
    margin: 1rem;
}

#main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

aside, #main-container-home{
    min-height: 100vh;
    display:flex;;
}
aside{
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
    margin-left: 1rem;
}

main > h1{
    margin-bottom: 1.5rem;
}
aside > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #270949;
    font-weight: bold;
}
a:hover{
    color: #f95b3d;
    background-color: white;
}

form > div {
    margin-top: 1rem;
}

#logo{
    max-width: 35vw;
    height: auto;
}

main{
    background-color: white;
    color: black;
}
#menu{
    align-content: end;
    display: flex;
    flex-direction: row;
}




